extends ../includes/layout

block main-content
    header.easy-header
        .container.easy-main-container
            .raw
                .col-md-12.col-lg-12
                    <!-- header here -->

    .container
        .row
            .col-md-12.col-lg-12
                nav.navbar.navbar-default
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a(href='/') Posts
                            li
                                a(href='/') Labs
                            li
                                a(href='/') About
    section.easy-blog
        .container
            .row
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
                .col-lg-3.col-md-4.col-xs-6.thumb
                    a.thumbnail(href='/')
                        img.img-responsive(alt='' src='http://placehold.it/400x300')
    footer.panel-footer















